.gameImage{
    width: 60vw;
    max-height: 100px;
}
.gameInfo{
    width: 40vw;
    margin-inline: auto;
    max-width: 400px;
}
.gameListItem{

}
.dropdownFilter {
    overflow: scroll;
    max-height: 500px;
}

@media (max-width: 768px){
    .gameImage{

    }
    .gameInfo{
        padding-left: 5px;
        min-width: 130px;
        width: 40vw;
    }
}

@media (min-width: 768px){
    .gameImage{

    }
    .gameInfo{

    }
}